<?php

/**
 * RAVEN CMS
 * ~/private/dat/ext/.state.php.dist
 * Distribution template for extension enablement state.
 * Docs: https://lanterns.io/raven
 */

declare(strict_types=1);

// Inline note: Installer copies this file to `private/dat/ext/.state.php` during first-run setup.

return array (
  'enabled' => 
  array (
  ),
  'permissions' => 
  array (
  ),
  'permission_bits' => 
  array (
  ),
);
